{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Purchasing System</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Modules</h2>
        <p>
           <a href="/purchaserequisitionform">Purchase Requisition</a> 
        </p>
        <p>
            <a href="/requestforquotationform">Request for Quotations</a>
        </p>
        <p>
            <a href="/quotationform">Quotations</a>
        </p>
        <p>
            <a href="/purchaseorderform">Purchase Order</a>
        </p>
        <p>
            <a href="/deliveryorderform">Delivery Order</a>
        </p>
        <p>
            <a href="/invoiceform">Invoice</a>
        </p>
    </div>
</div>

{% endblock %}
